// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600"); // Variables
@import "variables"; // Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #fff;
	box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.04);
}

.margin-bottom {
	margin-bottom: 1em;
}

.count {
	font-size  : 0.9em;
	margin-left: 0.7em;
}
