<template>
	<div>
		<br>
		<h4>Friends</h4>
		<div class="row">
			<article class=" col-6 col-md-4" v-for="friend in friends">
				<a :href="'/profile/'+friend.username" :title="friend.first_name+' '+friend.last_name">
					<img :src="friend.avatar" class="rounded" :alt="friend.username" width="100%">
				</a>
			</article>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				friends: [],
			};
		},
		props: ['user-name', 'current-id'],
		created() {
			this.getFriends();
		},
		methods: {
			getFriends: function(){
				axios.get('/api/friends/' + this.userName).then( ({data}) => {
					if( data ) {
						this.friends = data;
					}
				});
			}
		},
	};
</script>
