<template>
	<section>
		<div class="row">
			<div class="col-12 col-md-9">

			</div>
			<div class="col-12 col-md-3">
				<profile-friends
					:user-name = "this.userName"
				></profile-friends>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		data() {
			return {

			};
		},

		//pass in parameter from components
		props: ['user-name'],
	};
</script>
