<template>
    <div class="row" v-if="is_exist">
		<div class="col-12 col-md-5 col-lg-3 text-center">
			<img :src="user.avatar" class="rounded margin-bottom" :alt="user.first_name" width="200">
			<h5 class="">{{user.first_name}} {{user.last_name}}</h5>
			<profile-friends
				:user-name = "this.userName"
			></profile-friends>
		</div>
		<div class="col-12 col-md-7 col-lg-9">
			<div class="card margin-bottom" v-if="currentUser">
				<div class="card-body">
					<div class="form-group">
						<textarea v-model="newStatus" class="form-control margin-bottom" placeholder="What is in your mind...?"></textarea>
						<div class="text-center">
							<button class="btn btn-info" v-on:click="addNewStatus()" >Submit</button>
						</div>
					</div>
				</div>
			</div>
			<article class="card margin-bottom" v-if="status.published==1" v-for="status in user.status">
				<div class="card-body">
                    <div class="row">
                        <h6 class="card-subtitle mb-2 text-muted col-10">{{status.date}}</h6>
                        <div class="col-2" v-if="currentUser">
                            <a class="btn" v-on:click="deleteStatus(status)">
                                <i class="fa fa-times-circle" ></i>
                            </a>
                        </div>
                    </div>

					<p class="card-text">{{status.content}}</p>
					<!-- buttons -->
					<a class="btn" id="js-btn-like"
						v-bind:class="[checkStatusLiked(status) ? 'btn-primary' : 'btn-light' ]"
						v-on:click="likeStatus(status)"
					>

						<i class="fa fa-thumbs-up"></i>

						<span class="count" v-if="status.like_count > 0">{{status.like_count}}</span>

					</a>
					<a class="btn btn-light" id="js-btn-comment"><i class="fa fa-comments" aria-hidden="true"></i></a>
				</div>
			</article>
		</div>
    </div>
	<div class="row justify-content-center" v-else>
		<div class="col-12">
			<h1>Profile not found</h1>
		</div>
	</div>
</template>

<script>
    export default {
		data() {
			return {
				user: {},
				is_exist: true,
				currentUser: false,
				newStatus: '',
				//endpoint:'/api/profile/',
			};
		},
		computed: {
			errors: function() {
				for( var key in this.newStatus ) {
					if( !this.newStatus[key] ) return true;
				}

				return false;
			}
		},
		//pass in parameter from components
		props: ['user-name', 'current-id', 'endpoint'],

		created() {
			this.fetchProfile();
		},

		methods: {
			fetchProfile: function(){
				//alert(this.userName);
				axios.get(this.endpoint+this.userName)
					.then( ({data}) => {
						if( data ) {
							this.user = data.data;
							//now compare whether its the current user viewing their own profile
							if( this.user.id == this.currentId ) {
								this.currentUser = true;
							}
						}else {
							this.is_exist = false;
						}
					});

				setTimeout(this.fetchProfile, 5000);
			},
			checkStatusLiked: function(status){
				var i = 0;
				if( status.likes && status.likes.length > 0 ) {
					for( i; i< status.likes.length; i++ ) {
						var like_user = status.likes[i].user_id;
						if( like_user == this.currentId ) {
							return true;
						}
					}
				}

				return false;
			},

			likeStatus: function(status) {
				axios.get('/api/like/'+this.currentId+'/'+status.id)
					.then( ({data}) => {
						status.likes = data.likes;
						status.like_count = data.likeCount;
					});

			},

			addNewStatus: function(e) {
				axios.post('/api/status', {
					'content': this.newStatus,
					'userID' : this.currentId,
				}).then( ({data}) => {
					this.user.status.unshift(data.data);
					this.newStatus = '';
				});

				return false;
			},

            deleteStatus: function(status) {
                axios.post('/api/status/delete', {
                    'statusID': status.id
                }).then( ({data}) => {
					if( data.deleted ) { //delete successfully
                        this.user.status.splice(this.user.status.indexOf(status), 1);
                    }else { //something wrong

                    }
				});
            },

		},
        mounted() {
            console.log('Component mounted.')
        }
    };
</script>
