<template>
	<div>
		<div class="card margin-bottom" v-if="currentUser">
			<div class="card-body">
				<div class="form-group">
					<textarea v-model="newStatus" class="form-control margin-bottom" placeholder="What is in your mind...?"></textarea>
					<div class="text-center">
						<button class="btn btn-info" v-on:click="addNewStatus()" >Submit</button>
					</div>
				</div>
			</div>
		</div>
		<article class="card margin-bottom" v-if="status.published==1" v-for="status in statuses">
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">{{status.date}}</h6>
				<p class="card-text">{{status.content}}</p>
				<!-- buttons -->
				<a class="btn" id="js-btn-like"
					v-bind:class="[checkStatusLiked(status) ? 'btn-primary' : 'btn-light' ]"
					v-on:click="likeStatus(status)"
				>

					<i class="fa fa-thumbs-up"></i>

					<span class="count" v-if="status.like_count > 0">{{status.like_count}}</span>

				</a>
				<a class="btn btn-light" id="js-btn-comment"><i class="fa fa-comments" aria-hidden="true"></i></a>
			</div>
		</article>
	</div>
</template>
<script>
	export default{
		data(){
			return {
				statues: [],
				is_exist: true,
				currentUser: false,
			};
		},
		computed: {
			errors: function() {
				for( var key in this.newStatus ) {
					if( !this.newStatus[key] ) return true;
				}

				return false;
			}
		},
		props: ['user-name', 'current-id', 'endpoint'],
	};
</script>
